{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<script>
    // Показывает кнопку при фокусе на textarea
function showSaveButton() {
  document.getElementById('saveDescriptionBtn').style.display = 'block';
}

// Скрывает кнопку, если поле пустое (при потере фокуса)
function hideSaveButtonIfEmpty() {
  const textarea = document.getElementById('projectDescription');
  const saveBtn = document.getElementById('saveDescriptionBtn');
  
    saveBtn.style.display = 'none';
  
}
</script>
<div class="container mt-4">
    

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true">Обзор проекта</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tasks-tab" data-bs-toggle="tab" data-bs-target="#tasks" type="button" role="tab" aria-controls="tasks" aria-selected="false">Задачи</button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <h1>{{ project.name }}</h1>
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
            <div class="mt-4">
                <h4>Описание проекта</h3>
                    <textarea 
                    rows="5"
                    cols="50"
                    class="project-description"
                    placeholder="Описание проекта..."
                    onfocus="showSaveButton()" 
                    onblur="hideSaveButtonIfEmpty()"
                  >{{ project.description }}</textarea>
                  <button 
                    id="saveDescriptionBtn" 
                    type="submit"
                    class="save-btn"
                    style="display: none;" 
                    onclick="saveProjectDescription()"
                  >
                    Сохранить
                  </button>
                <h5>Создан: {{ project.created_at }}</h4>
                <h5>Члены проекта</h3>
                <ul class="list-group">
                    {% for member in project.members.all %}
                        <li class="list-group-item">{{ member.username }}</li>
                    {% endfor %}
                </ul>
                
            </div>
        </div>
        <div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
            <div class="mt-4">
                <h3>Задачи проекта</h3>
                <ul class="list-group">
                    {% for task in tasks.all %}
                        <li class="list-group-item">{{ task.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}