# Python
*.pyc
*.pyo
*.pyd
__pycache__/


env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/


# Настройки окружения
.env

# IDE/Редакторы
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db


# Миграции (если их не хотите загружать, но это опционально)
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
