<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мои задачи{% endblock %}</title>
    <!-- Подключение Bootstrap и других стилей -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

    <style>
        .dropdown-menu{
            left: 0;
            height: 100vh;
            width: 100vh;
            background-color: #222;
            color: #fff;
            transition: transform 0.3s ease; /* Анимация перехода */
            z-index: 100; /* Устанавливаем высокий приоритет для z-index */
        }
    </style>
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i> Меню
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <ul>
                        <li><a href="home.html" class="active"><i class="fas fa-home"></i> Главная</a></li>
                        <li><a href="my_tasks.html"><i class="fas fa-tasks"></i> Мои задачи</a></li>
                        <li><a href="#"><i class="fas fa-chart-bar"></i> Аналитика</a>
                            <ul>
                                <li><a href="#"><i class="fas fa-chart-line"></i> Отчеты</a></li>
                                <li><a href="#"><i class="fas fa-folder-open"></i> Портфели</a></li>
                                <li><a href="#"><i class="fas fa-bullseye"></i> Цели</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fas fa-project-diagram"></i> Проекты</a>
                            <ul>
                                <li><a href="#"><i class="fas fa-folder-open"></i>none</a></li>
                                <li><a href="#"><i class="fas fa-database"></i> None</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-plus-circle"></i> Создать
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Проект</a>
                    <a class="dropdown-item" href="#">Задача</a>
                </div>
            </li>
        </ul>
        <a class="navbar-brand" href="#">Team Synergy</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i> Аккаунт
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Профиль</a>
                    <a class="dropdown-item" href="#">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

</body>